@model VmAdminHome
@inject AppDbContext _context
@{
    ViewData["Title"] = "Index";
}

@{
    var dayList = _context.Reservations.Where(r => r.CreatedDate.ToString("dd") == DateTime.Now.ToString("dd"));
    var monthList = _context.Reservations.Where(r => r.CreatedDate.ToString("dd") == DateTime.Now.ToString("dd"));
    var yearList = _context.Reservations.Where(r => r.CreatedDate.ToString("dd") == DateTime.Now.ToString("dd"));


   
}


<div class="page-bar">
    <div class="page-title-breadcrumb">
        <div class=" pull-left">
            <div class="page-title">Dashboard</div>
        </div>
        <ol class="breadcrumb page-breadcrumb pull-right">
            <li>
                <i class="fa fa-home"></i>&nbsp;<a class="parent-item"
                                                   href="index.html">Home</a>&nbsp;<i class="fa fa-angle-right"></i>
            </li>
            <li class="active">Dashboard</li>
        </ol>
    </div>
</div>
<!-- start widget -->
<div class="state-overview">
    <div class="row">
        <div class="col-xl-3 col-md-6 col-12">
            <div class="info-box bg-blue">
                <span class="info-box-icon push-bottom"><i class="material-icons">style</i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Orders</span>
                    <span class="info-box-number">@Model.Reservations.Count</span>
                    <div class="progress" style="visibility:hidden">
                        <div class="progress-bar width-60"></div>
                    </div>

                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        @{
            DateTime dateForButton = DateTime.Now;
            dateForButton = dateForButton.AddDays(-1);
            int result = Model.Reservations.Where(r => r.CreatedDate > dateForButton && r.CreatedDate < DateTime.Now).Count();
        }
        <!-- /.col -->
        <div class="col-xl-3 col-md-6 col-12">
            <div class="info-box bg-orange">
                <span class="info-box-icon push-bottom">
                    <i class="material-icons">card_travel</i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">New Booking</span>
                    <span class="info-box-number">@result</span>
                    <div class="progress" style="visibility:hidden">
                        <div class="progress-bar width-40"></div>
                    </div>

                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-xl-3 col-md-6 col-12">
            <div class="info-box bg-purple">
                <span class="info-box-icon push-bottom">
                    <i class="material-icons">phone_in_talk</i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Workers</span>
                    <span class="info-box-number">@_context.AdminPanelUsers.ToList().Count</span>
                    <div class="progress" style="visibility:hidden">
                        <div class="progress-bar width-80"></div>
                    </div>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        @{
            double Sum = 0;
            foreach (var item in _context.Reservations)
            {
                Sum += item.Amount;
            }
        }
        <!-- /.col -->
        <div class="col-xl-3 col-md-6 col-12">
            <div class="info-box bg-success">
                <span class="info-box-icon push-bottom">
                    <i class="material-icons">monetization_on</i>
                </span>
                <div class="info-box-content">
                    <span class="info-box-text">Total Earning</span>
                    <span class="info-box-number">@Sum</span><span>$</span>
                    <div class="progress" style="visibility:hidden">
                        <div class="progress-bar width-60"></div>
                    </div>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
        <!-- /.col -->
    </div>
</div>
<!-- end widget -->
<!-- chart start -->
<div class="row">
    <div class="col-md-12">
        <div class="card card-box">
            <div class="card-head">
                <header>Chart Survey</header>
                <div class="tools">
                    <a class="t-collapse btn-color fa fa-chevron-down" href="javascript:;"></a>
                    <a class="t-close btn-color fa fa-times" href="javascript:;"></a>
                </div>
            </div>
            <div class="card-body no-padding height-9">
                <div class="row">
                    <canvas id="bar">
                    </canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Chart end -->

@{
    var listJanuary = _context.Reservations.Where(a => a.CreatedDate.Month == 1 && a.CreatedDate.Year == 2022).ToList();
    var listFebruary = _context.Reservations.Where(a => a.CreatedDate.Month == 2 && a.CreatedDate.Year == 2022).ToList();
    var listMarch = _context.Reservations.Where(a => a.CreatedDate.Month == 3 && a.CreatedDate.Year == 2022).ToList();
    var listApril = _context.Reservations.Where(a => a.CreatedDate.Month == 4 && a.CreatedDate.Year == 2022).ToList();
    var listMay = _context.Reservations.Where(a => a.CreatedDate.Month == 5 && a.CreatedDate.Year == 2022).ToList();
    var listJune = _context.Reservations.Where(a => a.CreatedDate.Month == 6 && a.CreatedDate.Year == 2022).ToList();
    var listJuly = _context.Reservations.Where(a => a.CreatedDate.Month == 7 && a.CreatedDate.Year == 2022).ToList();
    var listAugust = _context.Reservations.Where(a => a.CreatedDate.Month == 8 && a.CreatedDate.Year == 2022).ToList();
    var listSeptember = _context.Reservations.Where(a => a.CreatedDate.Month == 9 && a.CreatedDate.Year == 2022).ToList();
    var listOctober = _context.Reservations.Where(a => a.CreatedDate.Month == 10 && a.CreatedDate.Year == 2022).ToList();
    var listNovember = _context.Reservations.Where(a => a.CreatedDate.Month == 11 && a.CreatedDate.Year == 2022).ToList();
    var listDecember = _context.Reservations.Where(a => a.CreatedDate.Month == 12 && a.CreatedDate.Year == 2022).ToList();

    double sumJanuary = 0;
    double sumFebruary = 0;
    double sumMarch = 0;
    double sumApril = 0;
    double sumMay = 0;
    double sumJune = 0;
    double sumJuly = 0;
    double sumAugust = 0;
    double sumSeptember = 0;
    double sumOctober = 0;
    double sumNovember = 0;
    double sumDecember = 0;


    foreach (var item in listJanuary)
    {
        sumJanuary += item.Amount;
    }
    foreach (var item in listFebruary)
    {
        sumFebruary += item.Amount;
    }
    foreach (var item in listMarch)
    {
        sumMarch += item.Amount;
    }
    foreach (var item in listApril)
    {
        sumApril += item.Amount;
    }
    foreach (var item in listMay)
    {
        sumMay += item.Amount;
    }
    foreach (var item in listJune)
    {
        sumJune += item.Amount;
    }
    foreach (var item in listJuly)
    {
        sumJuly += item.Amount;
    }
    foreach (var item in listAugust)
    {
        sumAugust += item.Amount;
    }
    foreach (var item in listSeptember)
    {
        sumSeptember += item.Amount;
    }
    foreach (var item in listOctober)
    {
        sumOctober += item.Amount;
    }
    foreach (var item in listNovember)
    {
        sumNovember += item.Amount;
    }
    foreach (var item in listDecember)
    {
        sumDecember += item.Amount;
    }
}



<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js" integrity="sha512-QSkVNOCYLtj73J4hbmVoOV6KVZuMluZlioC+trLpewV8qMjsWqlIQvkn1KGX2StWvPMdWGBqim1xlC8krl1EKQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script type="text/javascript">
    var barchart = document.getElementById('bar').getContext('2d');
    var mybarchart = new Chart(barchart, {
        type: 'bar',
        data: {
            labels: ['January', 'February', 'March','April', 'May','June','July','August', 'September','October','November','December'],
            datasets: [{
                label: 'Total Amount $',
                data: [@sumJanuary, @sumFebruary, @sumMarch, @sumApril, @sumMay, @sumJune, @sumJuly, @sumAugust, @sumSeptember, @sumOctober, @sumNovember, @sumDecember],
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            }
        }
    })
</script>