
@{
    ViewData["Title"] = "Index";
}

<section id="page-title">
    <h1>
        Rio De Janeiro
    </h1>
</section>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="city">
                    <div class="row">
                        <div class="col-4">
                            <div class="title">
                                <h2>
                                    The <br> Marvelous <br> City
                                </h2>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="content">
                                <p>
                                    Create memories of a lifetime in one of the most beautiful
                                    cities in the world - Rio de Janeiro. Relax on gorgeous white
                                    sandy beaches, explore a cultural hub of art and entertainment,
                                    or check out the many famous landmarks around the city.
                                </p>
                                <a href="#">View Map</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="games">
                    <div class="row">
                        <div class="col-4">
                            <div class="title">
                                <h2>
                                    The <br> Marvelous <br> City
                                </h2>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="content">
                                <p>
                                    Create memories of a lifetime in one of the most beautiful
                                    cities in the world - <b>Rio de Janeiro</b>. Relax on gorgeous white
                                    sandy beaches, explore a cultural hub of art and entertainment,
                                    or check out the many famous landmarks around the city.
                                </p>
                                <a href="#">View Map</a>
                            </div>

                        </div>
                    </div>
                </div>
                <img src="assets/media/rio.jpg" alt="">
            </div>
        </div>
    </div>
</section>
