@model VmAbout

@{
    ViewData["Title"] = "Index";
}


<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="city">
                    <div class="row">
                        <div class="col-4">
                            <div class="title">
                                @if (Model.AboutCity != null)
                                {
                                    <h2>
                                        @Model.AboutCity.Title
                                    </h2>
                                }
                                else
                                {
                                    <h2> Soon </h2>
                                }
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="content">
                                @if (Model.AboutCity != null)
                                {
                                    <p>
                                        @Model.AboutCity.Content
                                    </p>
                                }
                                else
                                {
                                    <p> Soon </p>
                                }
                                <a href="#">View Map</a>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="games">
                    <div class="row">
                        <div class="col-4">
                            <div class="title">
                                @if (Model.AboutGames != null)
                                {
                                    <h2>
                                        @Model.AboutGames.Title
                                    </h2>
                                }
                                else
                                {
                                    <h2> Soon </h2>
                                }

                            </div>
                        </div>
                        <div class="col-8">
                            <div class="content">
                                @if (Model.AboutGames != null)
                                {
                                    <p>
                                        @Model.AboutGames.Content
                                    </p>
                                }
                                else
                                {
                                    <p> Soon </p>
                                }

                              
                                <a href="#">View Map</a>
                            </div>

                        </div>
                    </div>
                </div>
                <img src="assets/media/rio.jpg" alt="">
            </div>
        </div>
    </div>
</section>
