@model VmAbout

@{
    ViewData["Title"] = "Index";
}


<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="city">
                    <div class="row">
                        <div class="col-4 col-lg-4 col-sm-12 col-xs-12">
                            <div class="title" style="padding:50px">
                                @if (Model.AboutCity != null)
                                {
                                    <h2>
                                        @Model.AboutCity.Title
                                    </h2>
                                }
                                else
                                {
                                    <h2> Soon </h2>
                                }
                            </div>
                        </div>
                        <div class="col-8 col-lg-8 col-sm-12 col-xs-12">
                            <div class="content" style="padding-top:30px;">
                                @if (Model.AboutCity != null)
                                {
                                    <p>
                                        @Html.Raw(Model.AboutCity.Content)
                                    </p>
                                }
                                else
                                {
                                    <p> Soon </p>
                                }
                                <a asp-area="" asp-controller="Contact" asp-action="Index">View Map</a>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="games">
                    <div class="row">
                        <div class="col-4 col-lg-4 col-sm-12 col-xs-12">
                            <div class="title" style="padding:50px; padding-right:60px">
                                @if (Model.AboutGames != null)
                                {
                                    <h2>
                                        @Model.AboutGames.Title
                                    </h2>
                                }
                                else
                                {
                                    <h2> Soon </h2>
                                }

                            </div>
                        </div>
                        <div class="col-8 col-lg-8 col-sm-12 col-xs-12">
                            <div class="content" style="padding-top:30px;">
                                @if (Model.AboutGames != null)
                                {
                                    <p>
                                        @Html.Raw(Model.AboutGames.Content)
                                    </p>
                                }
                                else
                                {
                                    <p> Soon </p>
                                }


                                <a href="https://olympics.com/en/olympic-games/rio-2016">www.rio2016.com</a>

                            </div>

                        </div>
                    </div>
                </div>
                <img src="assets/media/rio.jpg" style="max-width: 100%" alt="">
            </div>
        </div>
    </div>
</section>
