
@{
    ViewData["Title"] = "Index";
}

<section id="page-title">
    <h1>
        Contact Us
    </h1>
</section>
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <div class="form">
                    <div class="row">
                        <div class="col-4">
                            <div class="title">
                                <h2>
                                    Ask Us <br> Anything!
                                </h2>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="content">
                                <input type="text" placeholder="Name">
                                <input type="email" placeholder="Email">
                                <textarea rows="10" placeholder="Type your message here..."></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map">
                    <div class="row">
                        <div class="col-4">
                            <div class="title">
                                <h2>
                                    How to <br> Get Here
                                </h2>
                                <div class="seperator">
                                    <div></div>
                                </div>
                                <p>
                                    R. Frame de Morá
                                    <br>
                                    Floor 6
                                    <br>
                                    Rio de Janeiro - Ipanema
                                    <br>
                                    Cell: 123-456-7890
                                </p>
                            </div>
                        </div>
                        <div class="col-8">
                            <div class="content">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24307.49426733976!2d49.9474266!3d40.399173700000006!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4030630f12a08785%3A0x71f2cb035667ccb4!2sLachin%20Shopping%20Mall!5e0!3m2!1sen!2s!4v1643664176360!5m2!1sen!2s" style="border:0; width: 100%; height: 100%;" allowfullscreen="" loading="lazy"></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
