@{
    ViewData["Title"] = "Home Page";
}

<section id="page-title">
    <h3>
        Be My Guest
    </h3>
    <h1>
        Welcome to Rio
    </h1>
</section>
<section id="service-about">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <form action="#">
                    <input type="date" class="date">
                    <input type="date" class="date">
                    <input type="number" class="count">
                    <input type="number" class="count">
                    <button type="submit">Search</button>
                </form>
                <h1>A Home in the Heart of the City</h1>

            </div>
            <div class="col-10">
                <div class="location">
                    <div class="container">
                        <div class="row">
                            <div class="col-8">
                                <div class="image">
                                    <img src="~/assets/media/location.jpg" alt="">
                                </div>
                            </div>
                            <div class="col-4 title">
                                <h1>Location</h1>
                            </div>
                            <div class="col-12">
                                <div class="map">
                                    <p>
                                        Conveniently located just opposite Leblon Beach in Ipanema,
                                        our apartment will sweep you into the charm and excitements of Rio!
                                        Dine at one of our neighborhood’s many world-renowned restaurants,
                                        enjoy fresh-squeezed juices from one of the colourful stalls along the
                                        beach,
                                        and don’t miss live bossy-nova show in one of the local bars.
                                    </p>
                                    <a href="#">View Map</a>
                                </div>
                            </div>
                            <div class="feedback">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-4">
                                            <div class="image">
                                                <img src="~/assets/media/feedback.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="col-8">
                                            <div class="content">
                                                <h1>
                                                    About Camila & Tiago
                                                </h1>
                                                <div class="seperator">
                                                    <div></div>
                                                </div>
                                                <p>
                                                    Hi, my name is Camila and I’m a nutritionist from the south
                                                    of Brazil.
                                                    I moved to the beautiful Ipanema neighborhood two years ago
                                                    with my husband,
                                                    Tiago. We live in a homie highrise just off the Leblon
                                                    Beach,
                                                    but in the summer we travel!
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
