
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ForgotPasswordConfirmation</title>
</head>
<body>
    <h4>
        @TempData["Feedback"]
    </h4>
</body>
</html>
