@model VmApartment
@{
    ViewData["Title"] = "Index";
}

<section id="page-title">
    <h1>
        Our Apartment
    </h1>
</section>
<section id="rooms">
    <div class="container">
        <div class="row">
            <div class="col-10">
                <h1>Our Rooms</h1>
                <form action="#">
                    <input type="date" class="date">
                    <input type="date" class="date">
                    <input type="number" class="count">
                    <input type="number" class="count">
                    <button type="submit">Search</button>
                </form>
                @foreach (var item in Model.Apartments)
                {
                    <div class="item">
                        <div class="image">
                            <img src="assets/media/apartment-1.jpg" alt="">
                        </div>
                        <div class="description">
                            <div class="info">
                                <h2>
                                    <a href="#">@item.Title</a>
                                </h2>
                                <span>
                                    @item.Subtitle
                                </span>
                                <ul class="parametres">
                                    <li>Size: <span>260 sq ft</span> </li>
                                    <li>Beds: <span>2 Double(s)</span> </li>
                                </ul>
                                <ul class="features">
                                    <li title="WiFi">
                                        <i class="fas fa-wifi"></i>
                                    </li>
                                </ul>
                            </div>
                            <div class="price">
                                <span>From</span>
                                <p>@item.Price</p>
                                <a href="#">
                                    More Info
                                </a>
                            </div>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
</section>
