$borderColor: #ced0d0;
$primaryFontColor: #e5ebed;
$secondaryFontColor: rgb(134,134,134);

#order{
    color: #2F2E2E;
    font-family: 'Raleway', sans-serif;
    .container{
        .row{
            justify-content: center;
            .col-10{
                background-color: white;
                padding: 35px 35px 25px;                
                .row{
                    .col-8{
                        border-right: 1px solid $borderColor;
                        padding-right: 30px;
                        .details{
                            .title{
                                h2{
                                    margin-bottom: 27px;
                                    padding-bottom: 10px;
                                    text-align: left;
                                    font-size: 18px;
                                    border-bottom: 1px solid $borderColor;
                                    font-weight: 700;
                                }
                            }  
                            form{
                                .col-6{
                                    margin-bottom: 10px;
                                    label{
                                        font-size: 16px;
                                    }
                                    input{
                                        width: 100%;
                                    }
                                    textarea{
                                        width: 100%;
                                    }
                                    select{
                                        width: 100%;
                                    }
                                }
                                .col-12{
                                    text-align: right;
                                    button{
                                        display: inline-block;
                                        width: 48%;
                                        border: none;
                                        height: 40px;
                                        color: white;
                                        background: linear-gradient(to bottom,#36a7dd 0,#2f9ad8 100%);                                        
                                        font-size: 14px;
                                        border-radius: 20px;
                                    }
                                }
                            }  
                        }
                    }
                    .col-4{
                        padding-left: 30px;
                        .summary{
                            h2{
                                margin-bottom: 27px;
                                padding-bottom: 10px;
                                text-align: left;
                                font-size: 18px;
                                border-bottom: 1px solid $borderColor;
                                font-weight: 700;
                            }
                            .main-image{
                                line-height: 0;
                                max-width: 100%;
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            >.container{
                                padding: 20px 0;
                                font-size: 14px;
                                border-bottom: 1px solid $primaryFontColor;
                                .row{
                                    margin-bottom: 5px;
                                    &:last-child{
                                        margin-bottom: 0px !important;
                                    }
                                }
                                p{
                                    font-weight: 500;
                                    margin-bottom: 0px;
                                }
                                span{
                                    font-weight: 700;
                                }
                                &:last-child{
                                    border-bottom: 0px;
                                    span{
                                        font-size: 18px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}