$primaryFontColor: #e5ebed;
$secondaryFontColor: rgb(134, 134, 134);

#room {
    color: $secondaryFontColor;

    .container {
        .row {
            justify-content: center;

            .col-10 {
                background-color: white;
                text-align: left;
                padding: 40px 25px;

                .title {
                    display: flex;
                    margin-bottom: 15px;

                    a {
                        margin-right: 30px;

                        i {
                            color: #6BA3A2;
                            font-size: 30px;
                        }
                    }

                    h1 {
                        font-size: 28px;
                        padding-left: 30px;
                        border-left: 1px solid $primaryFontColor;
                        margin-bottom: 0px;
                        font-weight: 400;
                    }
                }

                .row {
                    color: #2F2E2E;

                    .col-8 {
                        .info {
                            margin-top: 15px;

                            .item {
                                padding: 30px 0px;
                                border-bottom: 1px solid $primaryFontColor;
                                &:last-child{
                                    border-bottom: none;
                                }
                                .row {
                                    margin-top: 10px;

                                    .col-4 {
                                        h4 {
                                            font-size: 16px;
                                            font-weight: 700;
                                        }
                                    }

                                    .col-8 {
                                        ul {
                                            list-style: none;
                                            line-height: 1.8;

                                            li {
                                                width: 40%;
                                                font-size: 16px;
                                                display: inline-block;
                                            }
                                        }
                                    }
                                }
                            }
                        }

                    }
                    .col-4{
                        .book{
                            padding: 20px;
                            border: 1px solid $primaryFontColor;
                            span{
                                font-size: 14px;
                            }
                            p{
                                font-size: 32px;
                                margin-bottom: 0px;
                            }
                            form{

                                input{
                                    width: 100%;
                                    padding: 10px;
                                    font-size: 15px;
                                    border-radius: 0;
                                    border: 1px solid $primaryFontColor;
                                }
                                button{
                                    margin-top: 20px;
                                    width: 100%;
                                    padding: 5px 0px;
                                    border: none;
                                    background-color: #6BA3A2;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}