@import "header";
@import "home";
@import "footer";
@import "apartment";
@import "rio";
@import "contact";
@import "single-apartment";
@import "order";


*{
    transition: .3s;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


ul{
    padding: 0px;
}

html{
    overflow-x: hidden;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Raleway', sans-serif;
}
#page-title{
    text-align: center;
    color: white;
    margin-bottom: 200px;
    h3{
        font-size: 17px;
        text-transform: uppercase;
    }
    h1{
        font-family: 'Georgia', sans-serif;
        font-size: 65px;
    }
}