$primaryFontColor: #e5ebed;
$secondaryFontColor: rgb(134,134,134);

#contact{
    color: $secondaryFontColor;
    .container{
        .row{
            justify-content: center;
            .col-10{
                background-color: white;
                text-align: left;
                padding: 70px;
                .form{
                    margin-bottom: 100px;
                    .row{
                        .col-4{
                            .title{
                                font: normal normal normal 28px raleway,sans-serif;
                                h2{
                                    font-size: 28px !important;
                                }
                            }
                        }
                        .col-8{
                            .content{
                                input{
                                    width: 100%;
                                    margin-bottom: 8px;
                                    padding: 2px 10px;
                                    font-size: 15px;
                                    background-color: $primaryFontColor;
                                    border: none;
                                }
                                textarea{
                                    width: 100%;
                                    padding: 5px 10px;
                                    font-size: 15px;
                                    background-color: $primaryFontColor;
                                    border: none;
                                }
                                a{
                                    display: block;
                                    text-decoration: none;
                                    margin-top: 50px;
                                }
                            }
                        }
                    }
                }
                .map{
                    .row{
                        .col-4{
                            .title{
                                font: normal normal normal 28px raleway,sans-serif;
                                h2{
                                    font-size: 28px !important;
                                }
                                .seperator{
                                    display: flex;
                                    justify-content: left;
                                    padding: 22px 0 37px 0;
                                    div{
                                        border: 1px solid orange;
                                        width: 40px;
                                    }
                                }
                                p{
                                    font-size: 15px;
                                }
                            }
                        }
                        .col-8{
                            .content{
                                height: 100%;
                                p{
                                    font-size: 15px;
                                }
                                a{
                                    display: block;
                                    margin-top: 50px;
                                    text-decoration: none;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}