$primaryFontColor: #e5ebed;
$secondaryFontColor: rgb(134,134,134);

footer{
    color: $secondaryFontColor; 
    background-color: $primaryFontColor;
    padding: 50px 0px;
    .container{
        .row{
            justify-content: center;
           .col-10{
               
               .row{
                    .col-4{
                        padding: 0px;
                        h1{
                            font: normal normal normal 17px/1.4em raleway,sans-serif;
                            a{
                                color: rgb(47,46,46);
                                text-decoration: none;
                            }
                        }
                        .seperator{
                            display: flex;
                            justify-content: left;
                            padding: 22px 0 37px 0;
                            div{
                                border: 1px solid orange;
                                width: 40px;
                            }
                        }
                        .contact{
                            p{
                                font-size: 15px;
                            }
                            >a{
                                font-size: 15px;
                                text-decoration: none;
                                color: $secondaryFontColor;
                            }
                            span{
                                font-size: 15px;
                            }
                        }
                        .follow{
                            h1{
                                color: rgb(47,46,46);
                            }
                            ul{
                                display: flex;
                                list-style: none;
                                padding-left: 0;
                                li{
                                    margin-right: 20px;
                                    a{
                                        text-decoration: none;
                                        i{
                                            font-size: 25px;
                                            color: $secondaryFontColor;
                                        }
                                    }
                                }
                            }
                        }
                        .subscribe{
                            h1{
                                color: rgb(47,46,46);
                            }
                            input{
                                width: 100%;
                                padding: 3px 3px 3px 21px;
                                background-color: $primaryFontColor;
                                border: 1px solid #20303c;
                                margin-bottom: 5px;
                            }
                            button{
                                padding-top: 7px;
                                padding-bottom: 7px;
                                font: normal normal normal 14px/1.4em raleway,sans-serif;
                                width: 100%;
                                color: white;
                                background-color: #868686;
                                border: 1px solid #868686;
                            }
                        }
                    }
               }
               .copyright{
                   transform: translateX(-15px);
                   width: 100%;
                   margin-top: 70px;
                   font: normal normal normal 14px/1.4em raleway,sans-serif;
                   a{
                       color: $secondaryFontColor;
                   }
               }
           }
        }
    }
}