$primaryFontColor: #e5ebed;


header{
    padding: 50px 0 100px 0;
    .container{
        .row{ 
           .col-12{
               ul{
                    justify-content: center;
                    list-style: none;
                    display: flex;
                    padding-left: 100px;
                   li{
                       font-size: 16px;
                       margin-right: 100px;
                       a{
                        color: $primaryFontColor;
                        text-decoration: none;
                        &:hover{
                            color: black;
                        }
                       }
                       &:last-child{
                           a{
                            font-weight: 500;
                            font-size: 14px;
                            padding: 8px 40px;
                            background-color: #868686;
                            &:hover{
                                background-color: white;
                                color: #868686;
                            }
                           }
                       }
                   }
               }
           }
        }
    }
}